/* Blue Color */
a:hover,
.dropdown-header,
.product-detail>span,
.product-detail h5 a:hover,
.content .rating i,
blockquote::before,
.text-blue,
.book a
{ color: #00b4ff;}

/* Grey Color */
.product-detail h5 a,
.add-wish
{
	color: #515151;
}

/* Background Color */
.product-img .sale-bacth.book,
#loader-wrapper .loader-section,
.post-label,
.bg-blue,
.book a .fa,
main.login-form,
table th
{ background: #00b4ff;}

/* Border Color */
.add-cart-alert,
blockquote
{ border-color: #00b4ff;}

/* Flat Color */
.bg-red,
.film a .fa,
.product-img .sale-bacth.film
{
	background-color:#FF1942;}
.text-red,
.film a
{
	color:#FF1942;}
	
.bg-yellow,
.headphones a .fa,
.product-img .sale-bacth.headphones
{
	background-color:#ccc314;}
.text-yellow,
.music a
{
	color:#ccc314;}