@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:300,400,700');
body{
	font-family: "Roboto";
	color: #515151;
}

.roboto-bold,
.dropdown-header
{
	font-weight: 700;
}
.roboto-light,
.aurthor-detail>span
{
	font-weight: 300;
}
.roboto-slab,
.product-detail h5 a,
.content h2,
blockquote span,
.rec-active a,
table th
{
	font-family: "Roboto Slab";
}